html, body {
    height: 100%;
    background-color: black;
  }
body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
header{
    background-color: red;
    padding: 1%;
    flex:0.5;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}
main{
    width: 100%;
    flex: 9.5;
}
table{
    border-collapse: collapse;
}
td{
    border-bottom: none;
    border-top: none;
    align-items: center;
    text-align: center;
    padding: none;
    margin: none;
    position: relative;
}
.mainContent{
    height: 100%;
    width: 100%;
    background-color: forestgreen;
    border-color:blueviolet;
    border-width: 5px;
    border-radius: 10px;
}
.mainContent img {
    height: fit-content;
    max-height: 500px;
    width: auto;
    display: block;
    object-fit: contain;
    image-rendering:optimizeSpeed;
    margin:auto;
}
.router{
    height: 50%;
    display: flex;
    align-content: center;
    margin:1rem;
}
.routets{
    flex: 1;
    background-color: yellow;
    align-content: center;
    text-align: center;
}
.textCont{
    font-family: cursive;
    font-size: x-large;
}